<!--@subject {{trans "New product review on %store_name" store_name=$store.getFrontendName()}} @-->
<!--@vars {
"var product":"Product Name With SKU",
"var date":"Create At Date of Review",
"var nickname":"Author Of Review",
"var id":"ID Of Review",
"var title":"Review Summary",
"var details":"Review Content",
"var admin_url":"Url To Admin Panel"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans 'A visitor posted a new product review on %store_name.' store_name=$store.getFrontendName()}}</p>
<p>{{trans 'You have received this message, because you are the person responsible for review moderation.'}}<br/>
    {{trans 'Visit the <a href="%admin_url">site's admin panel</a> and process the review (approve, reject, or delete).' admin_url=$admin_url|raw}}</p>
<ul>
    <li>{{trans 'Product:'}}&nbsp;{{var product}}</li>
    <li>{{trans "Created at:"}}&nbsp;{{var date}}</li>
    <li>{{trans "Author:"}}&nbsp;{{var nickname}}</li>
    <li>{{trans "Review ID:"}}&nbsp;{{var id}}</li>
    <li>{{trans "Review summary:"}}&nbsp;{{var title}}</li>
    <li>{{trans "Review:"}}<br>{{var details}}</li>
</ul>

{{template config_path="design/email/footer_template"}}
